<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brenden Noblitt - Software Developer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/styles.css" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S6YP31PRC1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", "G-S6YP31PRC1");
    </script>
    <script src="https://kit.fontawesome.com/47a299450b.js" crossorigin="anonymous"></script>
    <meta name="keywords"
        content="Brenden, Noblitt, brenden, noblitt, data, engineer, software, developer, full-stack, software, web" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand text-white" href="#">My Portfolio</a>
                <div class="container pt-2">
                    <div class="theme-switch-wrapper">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                                aria-label="Dark Mode Toggle">
                            <label class="form-check-label text-white" for="flexSwitchCheckDefault">Dark Mode</label>
                            <i class="fa-regular fa-sun" style="color: #ffffff;" id="theme-icon" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#about-me-section">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#skills-section">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#latest-projects-section">Projects</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="hero">
            <div class="container text-center text-dark">
                <img src="static/img/avatar.svg" alt="my avatar" width="250" height="250" class="mb-4">
                <h1 id="textToCode">Hello, my name is Brenden</h1>
                <p>I design and <code>code</code> systems and software solutions</p>
                <a href="https://github.com/brendenmnoblitt" target="_blank" class="px-3"><i
                        class="fa-brands fa-3x fa-github" id="social-icon"></i></a>
                <a href="https://www.linkedin.com/in/brendennoblitt" target="_blank" class="px-3"><i
                        class="fa-brands fa-3x fa-linkedin" id="social-icon"></i></a>
                <a href="mailto:bnoblitt99@gmail.com" target="_blank" class="px-3"><i class="fa-solid fa-3x fa-envelope"
                        id="social-icon"></i></a>
            </div>
        </section>
        <section class="container mt-3 mb-5 text-center" id="about-me-section">
            <h2 class="mb-5">About Me</h2>
            <div class="container-sm mb-3">
                <p class="lead">
                    I'm a <code>software developer</code> based in Dallas-Fort
                    Worth, TX. I enjoy working with a variety of technologies and domains, most recently with
                    web, data, and machine learning. I am currently focused on building
                    full stack data applications and infrastructure for
                    <a href="https://www.mouser.com/" target="_blank">
                        Mouser Electronics
                    </a> while also working on a graduate degree in Computer Science at
                    <a href="https://www.tamuc.edu/" target="_blank">East Texas A&M University.</a>
                </p>
                <div class="container mt-5">
                    <div class="row">
                        <div class="col mb-5">
                            <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
                                <div class="timeline-step">
                                    <div class="timeline-content">
                                        <div class="inner-circle"></div>
                                        <p class="h6 mt-3 mb-1">May 2021</p>
                                        <p class="h6 mb-0 mb-lg-0">🧑‍🎓 Graduated B.S. Marketing Analytics @ Oklahoma
                                            State University
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline-step">
                                    <div class="timeline-content">
                                        <div class="inner-circle"></div>
                                        <p class="h6 mt-3 mb-1">Jun 2021</p>
                                        <p class="h6 mb-0 mb-lg-0">👨‍💻 Marketing Analyst @ Mouser Electronics</p>
                                    </div>
                                </div>
                                <div class="timeline-step">
                                    <div class="timeline-content">
                                        <div class="inner-circle"></div>
                                        <p class="h6 mt-3 mb-1">Feb 2022</p>
                                        <p class="h6 mb-0 mb-lg-0">👨‍💻 BI Developer I @ Mouser Electronics</p>
                                    </div>
                                </div>
                                <div class="timeline-step">
                                    <div class="timeline-content">
                                        <div class="inner-circle"></div>
                                        <p class="h6 mt-3 mb-1">Dec 2022</p>
                                        <p class="h6 mb-0 mb-lg-0">👨‍💻 BI Developer II @ Mouser Electronics</p>
                                    </div>
                                </div>
                                <div class="timeline-step">
                                    <div class="timeline-content">
                                        <div class="inner-circle"></div>
                                        <p class="h6 mt-3 mb-1">Jan 2025</p>
                                        <p class="h6 mb-0 mb-lg-0">🏫 Started M.S. Computer Science @ East Texas A&M
                                            University</p>
                                    </div>
                                </div>
                                <div class="timeline-step">
                                    <div class="timeline-content">
                                        <div class="inner-circle"></div>
                                        <p class="h6 mt-3 mb-1">Jun 2025</p>
                                        <p class="h6 mb-0 mb-lg-0">👨‍💻 BI Developer III @ Mouser Electronics</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container my-5 text-center" id="skills-section">
            <h2 class="mb-5">Skills</h2>
            <div class="container-sm pt-2">
                <div class="row">
                    <div class="col-sm">
                        <div class="card mb-5">
                            <div class="card-body">
                                <h4>Programming</h4>
                                <div class="container pt-2">
                                    <i class="fa-brands fa-2x fa-python"></i>
                                    <p>Python</p>
                                    <i class="fa-brands fa-2x fa-microsoft"></i>
                                    <p>C#</p>
                                    <i class="fa-brands fa-2x fa-golang"></i>
                                    <p>Go</p>
                                    <i class="fa-brands fa-2x fa-js"></i>
                                    <p>JavaScript</p>
                                    <i class="fa-solid fa-2x fa-database"></i>
                                    <p>SQL</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card mb-5">
                            <div class="card-body">
                                <div class="container pt-2">
                                    <h4>Frameworks</h4>
                                    <i class="fa-brands fa-2x fa-python"></i>
                                    <p>Flask</p>
                                    <i class="fa-brands fa-2x fa-python"></i>
                                    <p>FastAPI</p>
                                    <i class="fa-brands fa-2x fa-microsoft"></i>
                                    <p>.NET Core</p>
                                    <i class="fa-brands fa-2x fa-js"></i>
                                    <p>React.js</p>
                                    <i class="fa-brands fa-2x fa-js"></i>
                                    <p>Vue.js</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card mb-5">
                            <div class="card-body">
                                <h4>Databases</h4>
                                <div class="container pt-2">
                                    <i class="fa-solid fa-2x fa-database"></i>
                                    <p>Microsoft SQL Server</p>
                                    <i class="fa-solid fa-2x fa-database"></i>
                                    <p>PostreSQL</p>
                                    <i class="fa-solid fa-2x fa-database"></i>
                                    <p>SQLite</p>
                                    <i class="fa-solid fa-2x fa-file"></i>
                                    <p>MongoDB</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card mb-5">
                            <div class="card-body">
                                <h4>Cloud</h4>
                                <div class="container pt-2">
                                    <i class="fa-solid fa-2x fa-snowflake"></i>
                                    <p>Snowflake</p>
                                    <i class="fa-brands fa-2x fa-windows"></i>
                                    <p>Microsoft Azure</p>
                                    <i class="fa-brands fa-2x fa-google"></i>
                                    <p>Google Cloud Platform</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="container my-5" id="latest-projects-section">
            <h2 class="text-center mb-5">My Latest Projects</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h3 class="card-title">Pro Roster Showcase</h3>
                            <p class="card-text">Stack: Python, JS, Vue.js, MongoDB</p>
                            <p class="card-text">Fetches Overwatch pro league data and displays in UI by team and
                                player.</p>
                            <a href="https://github.com/brendenmnoblitt/owl_app_pub" class="btn btn-primary"
                                target="_blank">Visit My GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h3>Weather API Console App</h3>
                            <p>Stack: C#</p>
                            <p>Console app that displays Weather from weather API's.
                            </p>
                            <a href="https://github.com/brendenmnoblitt/WeatherAPI-Console-App" class="btn btn-primary"
                                target="_blank">Visit My GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h3>MVC Email Reader</h3>
                            <p>Stack: C#, JS</p>
                            <p>A basic Gmail reader built in a model-view-controller architecture.</p>
                            <a href="https://github.com/brendenmnoblitt/email-reader-mvc/" class="btn btn-primary"
                                target="_blank">Visit My GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="text-white py-4">
        <div class="container text-center">
            <p>Powered by Flask | Hosted by PythonAnywhere</p>
            <p>&copy; Brenden Noblitt 2025</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/scripts.js"></script>
</body>

</html>